{% extends "base.html.twig" %}
{% block titre %}
 {{ parent() }} : Salle (id={{ salle.id }})
{% endblock %}
{% block body %}
 <ul>
 <li>batiment {{ salle.batiment }}</li>
 <li>etage {{ salle.etage }}</li>
 <li>numero {{ salle.numero }}</li>
 </ul>
{% endblock %}